COMPOSE_PATH_SEPARATOR=":"
COMPOSE_FILE=./docker-compose.yml:./docker-compose.volumes.yml:./src/fieldsets-docs/docker-compose.volumes.yml:./docker-compose.envvars.yml:./docker-compose.networks.yml:./src/econcircles/docker-compose.yml:./src/fieldsets-docs/docker-compose.volumes.yml
